# dependencies
bower_components/
node_modules/
vendor/

# package manager files
npm-debug.log*
pnp-lock.yaml
shrinkwrap.yaml
yarn-error.log

# development
.circleci/
.editorconfig
.eslintcache
.github/
.husky/
.stylelintrc.json
rollup.config.mjs
src/
test/
tsconfig.tsbuildinfo

# project specific
test.js
test.ts
todo.md
index.html

# files
.gitignore
.travis.yml
gulpfile.js
tsconfig.json
tslint.json
